@media (max-width:48em){
    .locationList{
        /* background-color: blue; */
        max-height: 30vh;
        overflow: auto;
        margin-bottom: 20px;
    }
}

.forcecastTitle {
    color: #333;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px
}